{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main" class="404">
        <article class="post">

            <header>
                <div class="title">
                    <h1>404: Not Found</h1>
                </div>
            </header>

            <div id="content">
                We're sorry, but that page can't be found <i class="fas fa-frown-o"></i>
            </div>

            <footer><!-- blank but still needed for proper CSS look/feel --></footer>

        </article>
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
